<app-top-header title="Choose payment Option"></app-top-header>

<ion-content>
  <ion-radio-group [value]="selected" (ionChange)="update($event)" >

    <div id="container" class="mgt-6" >
      <ion-label>
        <ion-title class="overline">DEBIT OR CREDIT CARD</ion-title>
      </ion-label>
      
      <div class="mgy-5"></div>

      <div class="mgt-5" *ngFor="let option of cardOptions" >
        <app-choose-option  class="mgt-5" [paymentOption]="option"></app-choose-option>
      </div>
    </div>

    <div id="container" class="mgt-6" >
      <ion-label>
        <ion-title class="overline">MOBILE MONEY</ion-title>
      </ion-label>
      
      <div class="mgy-5"></div>

      <div class="mgt-5" *ngFor="let option of mobileOptions" >
        <app-choose-option  class="mgt-5" [paymentOption]="option"></app-choose-option>
      </div>
    </div>
  </ion-radio-group>

    <hr>

    <div class="ion-margin-top">
      <ion-buttons class="mgt-5 text-midnightBlue20">
        <ion-button class="ion-text-capitalize" routerLink="/add-payment"> 
          <ion-icon name="add" class="text-midnightBlue20"></ion-icon>
          <ion-label class="mgl-2">Add payment option</ion-label>
        </ion-button>
      </ion-buttons>
    </div>

    <section class="full-width">
    </section>

</ion-content>

<ion-footer class="ion-no-border ion-no-padding" no-border>
  <ion-toolbar no-border>
    <ion-button expand="block" color="primary" class="ion-margin ion-text-capitalize" size="large"> continue </ion-button>
  </ion-toolbar>
</ion-footer>


