

#cc-expiration-date {
  margin-right: 20px;
}

.footer-text {
  position: absolute;
  width: 312px;
  height: 32px;
  left: 24px;
  top: calc(50% - 32px/2 + 232px);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #909399;
}

