<app-top-header title="Add payment option"></app-top-header>

<ion-content class="ion-margin-top">
  <ion-list class="ion-margin-top mgt-8" lines="full">
    <ion-item class="ion-activatable ripple-parent" routerLink="/add-card">
      <img src="../../assets/icon/card.svg" alt="">
      <ion-label class="mgl-4 body-1-regular text-gray80">Credit or Debit card</ion-label>
      <ion-icon class="text-gray80" slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>
